{
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": [1, "single"],
    "comma-dangle": ["error", {
      "objects": "always-multiline",
      "arrays": "always-multiline"
    }],
    "object-curly-spacing": 0,
    "no-process-env": 0,
    "no-unexpected-multiline": 0
  },
  "ignorePatterns": ["dist/*"]
}
