:root {
  --color-blue: #011452;
  --color-darkblue: #010a25;
  --color-contrast: #f6b0a6;
  --color-pink: #f9bcbccc;
  --color-white: #f7c4f8;

  --rgb-text: 255, 255, 255;
  --color-title: var(--color-white);
  --color-text: var(--color-contrast);
  --color-bg-light: var(--color-pink);
  --color-bg-dark: var(--color-blue);
  --color-code: var(--color-darkblue);
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font: 18px/1.42 -apple-system,BlinkMacSystemFont, "Open Sans", "Helvetica Neue","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  background: linear-gradient(127deg, #dbdefdcc, #dbdefd00 70.71%),
    linear-gradient(217deg, #e6a29d, #e6a29d00 70.71%),
    linear-gradient(307deg, #ffffff, #ffffff00 70.71%),
    linear-gradient(37deg, #f9bcbccc, #f9bcbc00 70.71%);
  background-repeat: no-repeat;
}
strong {
  font-weight: inherit;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: currentColor;
  transition: all .2s ;
  border-bottom: 4px solid rgba(var(--rgb-text), .5);
}
a:hover {
  border-color: 4px solid rgb(var(--rbg-text));
}
::selection {
  background-color: var(--color-bg-light);
  color:var(--color-bg-dark);
}
ul {
  margin: 0;
  padding-left: 1em;
}

.inner {
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 4em;
}
.hero {
  min-height: 60vw;
  padding: 15vw 0 0;
  color: var(--color-title);
  box-sizing: border-box;
  position: relative;
}
.hero h2 {
  font-weight: 300;
  font-size: 1.5em;
  color: currentColor;
}
.hero strong {
  font-weight: 700;
}
.hero a {
  font-weight: 400;
}
.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.hero-bg::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: var(--color-bg-dark);
}
.hero-bg svg {
  fill: var(--color-bg-dark);
}
.hero-main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.logo {
  flex: 0 0 auto;
  margin: 0 20px 10px 0;
  width: calc(60px + 20vh);
  height: calc(60px + 20vh);
  fill: currentcolor;
}
.hero-text {
  text-align:center;
  margin: 0 20px 10px 0;
}

.hero-player {
  padding-top: 2em;
  width: 100%;
  max-width: 700px;
}

@supports (mix-blend-mode: difference) {
  .hero-text,
  .logo {
    color: inherit;
    mix-blend-mode: difference;
  }
}
@supports not(mix-blend-mode: difference) {
  .hero-text,
  .logo {
    color: #c59806;
  }
}

.main {
  display: flex;
  flex-flow: row nowrap;
}
.feature-item {
  margin: 5em 0;
}
div.feature-item:first-of-type {
  margin-top: 0;
}
.feature {
  flex: 0 0 auto;
  width: 40%;
  background: var(--color-bg-dark);
  color: var(--color-text);
  padding: 0 40px;
  box-sizing: border-box;
}
.feature kbd {
    display: inline-block;
    color: var(--color-bg-dark);
    padding: 3px 5px;
    font-size: .7em;
    line-height: 1;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 #959da5;
    box-shadow: inset 0 -1px 0 #959da5;
}
.feature-main {
  margin-bottom: 2em;
}
.feature-action {
  margin-left: 1em;
  font-size: 0.87em;
  line-height: 1.7;
}
.button {
  font-size: inherit;
  border: 1px solid var(--color-text);
  background-color: transparent;
  padding: 2px 4px;
  color: var(--color-text);
  cursor: pointer;
  outline: none;
}
.button:hover:not(.Round),
.button.Active {
  color: var(--color-bg-dark);
  background-color: var(--color-bg-light);
}
.button.Round:hover {
  opacity: .8;
}
.button.Round {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border: 2px solid #fff;
  background-color: var(--color-bg-dark);
  background-color: rgb(attr(data-color));
}
.button.Round.Blue {
  background: rgb(85,185,243);
}
.button.Turquoise {
  background: rgb(132, 191, 207);
}
.button.Graphite {
  background: rgb(49,51,53);
}
.button.Beige {
  background: rgb(213,169, 118);
}
.code {
  margin: 1em 0;
}
.demo {
  width: 60%;
  padding: 0 40px;
  box-sizing: border-box;
}
.demo-main {
  width: 100%;
  position: relative;
}
.container {
  position: sticky;
  top: 0;
  max-width: 600px;
  top: 15em;
  box-sizing: border-box;
}
.demo-player {
  position: sticky;
  top: 60vh;
  margin-top: 60vh;
}
footer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
  background: var(--color-bg-dark);
  color: var(--color-text);
}
.icon-link {
  display: flex;
  border-bottom: 0;
  margin-right: 1em;
}
.icon-link:hover {
  color: #fff;
}
.icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}
@media (max-width: 1000px) {
  .hero {
    height: 100vh;
    padding: 15vh 0 0;
  }
  .inner {
    max-width: initial;
    padding: 0;
  }
  .logo,
  .hero-text {
    margin: 0;
  }
  .hero-player {
    display: none;
  }
  .main {
    display: block;
  }
  .feature {
    width: 100%;
    padding: 1em 20px;
  }
  .demo {
    width: 0;
    padding: 0;
  }
  .demo-player {
    position: fixed;
    top: auto;
    width: 100%;
    bottom: 0;
  }
  footer {
    width: 100%;
    padding-bottom: 150px;
  }
}
