.shk {
  --color-primary: #00CCB8;
  --font-sys: -apple-system,BlinkMacSystemFont,"avenir next", avenir, "Segoe UI", Roboto,Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue";
  --font-sans-serif: sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --color-theme: #fff;
  --color-theme-opaque: #ffffff00;
  --color-secondary: #767676;
  --color-font: #333;
  --color-handle-shadow-mobile: #b9b6b6;
  --color-handle-shadow: var(--color-theme-opaque);
  --color-body-shadow: #b9b6b680;
}
.shk.Theme-dark {
  --color-theme: #555;
  --color-theme-opaque: #33333300;
  --color-secondary: #b9b6b6;
  --color-font: #fff;
  --color-handle-shadow-mobile: #000;
  --color-handle-shadow: var(--color-theme-opaque);
  --color-body-shadow: #14141480;
}
@media (prefers-color-scheme: dark) {
  .shk.Theme-auto {
    --color-theme: #555;
    --color-theme-opaque: #33333300;
    --color-secondary: #b9b6b6;
    --color-font: #fff;
    --color-handle-shadow-mobile: #000;
    --color-handle-shadow: var(--color-theme-opaque);
    --color-body-shadow: #141414;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes marquee {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translateX(-100%);
  }
}
.shk {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-sys), var(--font-sans-serif);
  line-height: 1.42;
  cursor: auto;
  position: relative;
  border: none;
  color: var(--color-font);
}
.js-focus-visible:focus:not(.focus-visible),
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.shk_player {
  height: 120px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid var(--color-shadow);
  box-shadow: 2px 2px 8px -2px var(--color-body-shadow);
  background-color: var(--color-theme);
  position: relative;
  z-index: 10;
}
.shk.Fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
}
.shk.Fixed.Top {
  top: 0;
  bottom: auto;
}
.shk.Seeking .shk_player {
  cursor: grabbing;
}
.shk_body {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  user-select: none;
}
.shk_cover {
  width: 80px;
  height: 80px;
  flex: 0 0 auto;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
.shk_main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.shk_text {
  overflow: hidden;
}
.shk_title-wrap.Overflow {
  mask-image: linear-gradient(to right,transparent,#202124 5%,#202124 95%,transparent);
}
.shk_title-inner {
  display: inline-flex;
  overflow: visible;
}
.shk_title-wrap.Overflow .shk_title-inner {
  padding: 0 3%;
  box-sizing: border-box;
}
.shk_artist,
.shk_title {
  display: inline-block;
  white-space: nowrap;
}
.shk_artist {
  text-overflow: clip;
  font-weight: 500;
  color: var(--color-secondary);
}
.shk_title {
  font-weight: 300;
  font-size: 1.33em;
  color: var(--color-font);
}
.shk_title-wrap.Overflow .shk_title {
  animation: marquee 10s linear infinite;
  padding-right: 60px;
}
.shk_title-wrap.Overflow .shk_title[aria-hidden] {
  display: block;
}
.shk_title[aria-hidden] {
  display: none;
}
.shk_btn {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  fill: currentColor;
  box-sizing: content-box;
  padding: 10px;
  position: relative;
  font-size: 1em;
}
.shk_btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b9b9b94d;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: width .3s cubic-bezier(0,0,0.2,1), height .3s cubic-bezier(0,0,0.2,1), transform .1s cubic-bezier(0,0,0.2,1),opacity .2s cubic-bezier(0,0,0.2,1)
}
.shk_btn:active {
  background-color: var(--color-seondary);
}
.shk_btn:active::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.shk_btn svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.shk_controls {
  position: relative;
  width: 280px;
  margin: 0 auto;
  flex: 0 0 auto;
}
.shk_controls .shk_btn {
  border-radius: 100%;
}
.shk_controls > div {
  flex-flow: row nowrap;
  align-items: center;
  display: flex;
}
.shk_controls_basic {
  justify-content: space-between;
}
.shk_controls_extra {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  margin-right: 52px;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
  justify-content: flex-end;
  background: var(--color-theme);
  transition: width .2s ease-in-out, opacity .1s .1s linear, visibility .2s;
}
.shk.Extra .shk_controls_extra {
  opacity: 1;
  visibility: visible;
  width: calc(100% - 52px);
  transition: width .2s ease-in-out, opacity .1s linear;
}
.shk.Extra .shk_controls_extra .shk_btn {
  display: inline-block;
}
.shk_btn_toggle svg {
  width: 32px;
  height: 32px;
}
.shk.Pause .shk_btn_play,
.shk.Play .shk_btn_pause {
  display: inline;
}
.shk.Pause .shk_btn_pause,
.shk.Play .shk_btn_play {
  display: none;
}
.shk_btn_speed {
  font-size: 0.86em;
  font-weight: 400;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
}
.shk_btn_more {
  position: relative;
  z-index: 11;
  transform: none;
  transition: transform .2s .1s;
}
.shk.Extra .shk_btn_more {
  transform: rotate(90deg);
}
svg.shk_btn_unmute,
.shk.Mute svg.shk_btn_mute {
  display: inline-block;
}
svg.shk_btn_mute,
.shk.Mute svg.shk_btn_unmute {
  display: none;
}
.shk_bar-wrap {
  cursor: pointer;
}
.shk_bar {
  position: relative;
  height: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-theme);
}
.shk_bar_loaded,
.shk_bar_played {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
}
.shk_bar_loaded {
  background: #b9b9b94d;
}
.shk_bar_played {
  background: var(--color-primary);
}
.shk_bar-handle {
  background: var(--color-primary);
  position: absolute;
  right: -10px;
  width: 20px;
  height: 20px;
  cursor: grab;
  border-radius: 20px;
}
.shk_bar-handle:active {
  cursor: grabbing;
}
.shk_display {
  position: absolute;
}
.shk_loader {
  display: none;
  vertical-align: middle;
  color: var(--color-primary);
}
.shk.Loading .shk_loader {
  display: inline-block;
}
.shk_loader svg {
  width: 12px;
  height: 12px;
  animation: rotate 1.4s linear infinite;
  position: relative;
}
.shk_visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.shk_time {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: 200;
  color: var(--color-secondary);
}
.shk_icons {
  display: none;
}
@media (min-width: 641px) {
  .shk_player {
    margin-top: 4px;
    padding: 20px 16px;
  }
  .shk_main {
    align-items: flex-end;
    padding: 10px 0;
    max-width: calc(100% - 96px);
    flex-direction: row;
  }
  .shk_text {
    flex: 2 1 auto;
  }
  .shk_bar-wrap {
    position: absolute;
    top: -4px;
    left: 0px;
    right: 0px;
    padding: 4px 0 16px;
  }
  .shk_bar {
    transition: height .15s ease-in;
  }
  .shk_bar-wrap:hover .shk_bar {
    height: 10px;
  }
  .shk_bar-handle {
    visibility: hidden;
    top: -9px;
    border: 4px solid transparent;
    box-shadow: 0px 2px 10px var(--color-handle-shadow);
    transform: scale(.001);
    transition: all .1s .05s ease-in, visibility .05s linear;
  }
  .shk_bar-wrap:hover .shk_bar-handle {
    visibility: visible;
    border-color: #fff;
    transform: scale(0.8);
  }
  .shk_display {
    top: -6px;
    right: 10px;
  }
  .shk_loader {
    margin-right: 4px;
  }
  .shk_time_duration::before {
    content: '/';
    margin: 0 4px;
  }
}
@media (max-width: 640px) {
  .shk_player {
    padding: 5px 16px;
  }
  .shk.Auto {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .shk.Auto.Top {
    top: 0;
    bottom: auto;
  }
  .shk_cover {
    display: none;
  }
  .shk_main {
    width: 100%;
    max-width: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .shk_text {
    flex: 0 0 auto;
  }
  .shk_text {
    width: 100%;
    text-align: center;
  }
  .shk_artist-wrap {
    font-size: 0.8em;
    line-height: 1;
  }
  .shk_artist {
    display: inline-block;
  }
  .shk_title {
    font-size: 1em;
    line-height: 1;
  }
  .shk_bar-wrap {
    padding: 8px 0;
    margin: 0 60px;
  }
  .shk_bar-wrap .shk_bar-handle {
    display: inline-block;
    top: -8px;
    box-shadow: 2px 2px 8px -2px var(--color-handle-shadow-mobile);
  }
  .shk_bar {
    background: #b9b9b94d;
  }
  .shk_display {
    top: -16px;
    left: 0;
    right: 0;
  }
  .shk_loader {
    position: absolute;
    left: -10px;
    top: -5px;
  }
  .shk_time {
    margin: 0 5px;
    font-size: 0.7em;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .shk_time_now {
    width: 40px;
    text-align: right;
  }
  .shk_time_duration {
    width: 40px;
    text-align: left;
  }
}
