@import url('./base.css');
.shk {
  --color-mode: #fff !important;
  --color-mode-opaque: #ffffff00 !important;
  --color-secondary: #767676 !important;
  --color-font: #333 !important;
  --color-shadow: #b9b6b6 !important;
}
