@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.shk {
  position: inherit;
  height: 120px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  border: none;
  box-shadow: 0px 0px 14px 6px #e2e2e280;
  cursor: auto;
  font: 400 18px/1.42 Hiragano, Helvetica Neue, Pingfang SC,sans-serif;
  outline: none;
}
.shk.Fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
}
.shk.Fixed.Top {
  top: 0;
  bottom: auto;
}
.shk.Seeking {
  cursor: grabbing;
}
.shk_cover {
  position: relative;
  width: 120px;
  flex-shrink: 0;
  height: 100%;
}
.shk_main {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  padding: 14px 30px 10px;
  border: none;
  border-left: 5px solid var(--theme-color);
  width: calc(100% - 120px);
  background-color: #fff;
}
.shk_img {
  background-color: var(--theme-color);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.shk_btn {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.shk_btn_toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.shk_btn_toggle:hover,
.shk_btn_toggle:focus {
  opacity: 1;
  transition: all 1s ease;
}
.shk_btn_toggle svg {
  box-sizing: border-box;
}
.shk_btn_play {
  width: 100px;
  height: 100px;
}
.shk_btn_pause {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}
.shk_btn_pause circle {
  stroke-width: 6;
  r: 38;
}
.shk.Pause .shk_btn_play,
.shk.Play .shk_btn_pause {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.05s 0.01s ease-in, visibility 0.01s;
}
.shk.Pause .shk_btn_pause,
.shk.Play .shk_btn_play {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.01s ease-in, visibility 0.01s 0.01s;
}
.shk_text {
  overflow: hidden;
  width: 100%;
  color: var(--theme-color);
}
.shk_text,
.shk_controls,
.shk_time {
  user-select: none;
}
.shk_subtitle {
  display: inline-block;
  font-weight: 500;
  max-width: calc(100% - 164px);
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: clip;
}
.shk_title {
  display: inline-block;
  font-weight: 300;
  margin-top: 2px;
  font-size: 1.33em;
  white-space: nowrap;
  transition: transform 0s ease-in-out;
}
.shk_controls {
  position: absolute;
  top: 8px;
  right: 20px;
  z-index: 1;
}
.shk_controls .shk_btn {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  color: var(--theme-color);
  font-size: 0.8em;
  opacity: 1;
  transform: scale(1);
}
.shk_controls .shk_btn:hover {
  opacity: 0.8;
}
.shk_main .shk_btn svg {
  width: 16px;
  height: 16px;
  padding: 10px;
  fill: var(--theme-color);
  vertical-align: middle;
}
.shk_btn.shk_btn_download svg {
  fill: none;
  stroke: var(--theme-color);
}
.shk_btn_forward svg,
.shk_btn_backward svg {
  width: 18px;
  height: 18px;
  padding: 9px;
}
svg.shk_btn_unmute,
.shk.Mute svg.shk_btn_mute {
  display: inline-block;
}
svg.shk_btn_mute,
.shk.Mute svg.shk_btn_unmute {
  display: none;
}
.shk_bar-wrap {
  height: 18px;
  padding: 1px 0;
  position: relative;
  cursor: pointer;
}
.shk_bar {
  position: relative;
  width: 100%;
  height: 3px;
  margin-top: 7px;
  box-sizing: border-box;
  background: #e7e7e7;
  z-index: 0;
}
.shk_bar_loaded,
.shk_bar_played {
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.shk_bar_loaded {
  background: var(--theme-color);
  filter: opacity(30%);
  z-index: 1;
}
.shk_bar_played {
  background: var(--theme-color);
  z-index: 2;
}
.bar-handle {
  background: var(--theme-color);
  position: absolute;
  top: 0;
  right: 0px;
  margin-top: -6px;
  margin-right: -8px;
  height: 16px;
  width: 8px;
  cursor: move;
  cursor: grab;
}
.bar-handle:active {
  cursor: grabbing;
}
.shk_bottom {
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-weight: 400;
  font-size: 1em;
  color: #555555;
}
.shk_bottom span {
  vertical-align: middle;
}
.shk_loader {
  display: none;
  color: var(--theme-color);
}
.shk.Loading .shk_loader {
  display: inline-block;
}
.shk_loader svg {
  width: 12px;
  height: 12px;
  animation: rotate 1.4s linear infinite;
  position: relative;
}
.shk_visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.shk_time {
  margin-left: 4px;
  display: inline-block;
}
.shk_time span {
  font-size: 0.7em;
}
.shk_time_duration::before {
  content: '/';
  margin: 0 4px;
}
.shk_icons {
  display: none;
}
@media (max-width: 768px) {
  .shk.Auto {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }
  .shk.Auto.Top {
    top: 0;
    bottom: auto;
  }
  .shk {
    height: 60px;
  }
  .shk_cover {
    width: 60px;
  }
  .shk_btn_toggle svg {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .shk_btn_pause {
    bottom: 0;
    right: 0;
  }
  .shk_btn_pause circle {
    stroke-width: 2;
    r: 40;
  }
  .shk_main {
    border-left: none;
    padding: 5px 10px;
  }
  .shk_subtitle {
    display: none;
  }
  .shk_title {
    font-size: 1rem;
    margin: 0;
  }
  .shk_controls {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
  }
  .shk_controls .shk_btn:hover {
    opacity: 1;
  }
  .shk_bar-wrap {
    display: none;
  }
  .shk_bottom {
    right: 10px;
    bottom: 6px;
  }
}
