:root {
      --primary-color: #F9AA53;
}
html, body {
  padding: 0;
  margin: 0;
}

/* above should be removed */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.shk {
  position: inherit;
  height: 120px;
  box-sizing: border-box;
  margin: 20px 40px;
  display: flex;
  flex-flow: row nowrap;
  border: none;
  box-shadow: 0px 0px 14px 6px #e2e2e280;
  cursor: auto;
  font: 400 18px/1.42 Pingfang SC, Hiragano, Helvetica Neue,/*  var(--en-sans), var(--cjk-sans), */ sans-serif;
}
.shk.Fixed {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
}
.shk.Seeking {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.shk_left {
  position: relative;
  width: 120px;
  height: 100%;
}
.shk_right {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  padding: 14px 30px 10px;
  border: none;
  border-left: 5px solid var(--primary-color);
}
.shk_cover img {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.shk_btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.shk_left .shk_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shk_right .shk_btn {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  color: var(--primary-color);
  font-size: 12px;
}
.shk_btn:hover .shk_btn_play,
.shk_btn:hover .shk_btn_pause {
  opacity: 0.8;
}
.shk_btn .shk_btn_pause {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.shk.Pause .shk_btn .shk_btn_play,
.shk.Play .shk_btn .shk_btn_pause {
  display: inline-block;
}
.shk.Pause .shk_btn .shk_btn_pause,
.shk.Play .shk_btn .shk_btn_play {
  display: none;
}
.shk_subtitle {
  font-weight: 500;
  color: var(--primary-color);
}
.shk_title {
  font-weight: 100;
  margin: 2px 0;
  font-size: 24px;
}
.shk_controls {
  position: absolute;
  top: 8px;
  right: 20px;
}
.shk_controls .shk_btn:hover {
  opacity: 0.8;
}
.shk_right .shk_btn svg {
  width: 16px;
  height: 16px;
  padding: 10px;
  fill: var(--primary-color);
  vertical-align: middle;
}
.shk_controls svg.shk_btn_volume,
.shk.Mute .shk_controls svg.shk_btn_mute {
  display: inline-block;
}
.shk_controls svg.shk_btn_mute,
.shk.Mute .shk_controls svg.shk_btn_volume {
  display: none;
}

.shk_bar-wrap {
  height: 18px;
  padding: 1px 0;
  position: relative;
  cursor: pointer;
}
.shk_bar {
  position: relative;
  width: 100%;
  height: 3px;
  margin-top: 7px;
  box-sizing: border-box;
  background: #e7e7e7;
  z-index: 0;
}
.shk_bar .shk_bar_loaded,
.shk_bar .shk_bar_played {
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.shk_bar .shk_bar_loaded {
  background: var(--primary-color);
  filter: opacity(30%);
  z-index: 1;
}
.shk_bar .shk_bar_played {
  /* use setter for background color opacity */
  background: #F9AA5370;
  z-index: 2;

}
.shk_bar .bar-handle {
  background: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0px;
  margin-top: -7px;
  margin-right: -8px;
  height: 18px;
  width: 8px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.shk_bar .bar-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.shk_bottom {
  position: absolute;
  right: 0;
  top: 18px;
  font-size: 0px;
  font-weight: 400;
  color: #555555;
}
.shk_bottom span {
  vertical-align: middle;
}
.shk_loader {
  display: none;
}
.shk.Loading .shk_loader {
  display: inline-block;
}
.shk_loader svg {
  width: 12px;
  height: 12px;
  animation: rotate 1.4s linear infinite;
  -webkit-animation: rotate 1.4s linear infinite;
  -moz-animation: rotate 1.4s linear infinite;
  position: relative;
}
.shk_loader stop {
  stop-color: var(--primary-color);
}
.shk_visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.shk_time {
  margin-left: 4px;
  display: inline-block;
}
.shk_time span {
  font-size: 12px;
}
.shk_time .shk_time_duration::before {
  content: '/';
  margin: 0 4px;
}
